@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  height: 100vh;
  color: #333;
  background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
}

.section {
  position: relative;
  width: 100rem;
  height: 60rem;
  background-color: rgba(255, 255, 255, 0.35);
  display: flex;
  align-items: center;
}

.name {
  font-size: 4rem;
  margin-bottom: 3rem;
}

.score {
  font-size: 8rem;
  padding-left: 5rem;
  color: #c7365f;
}

.player--active {
  background: rgb(255, 255, 255, 0.4);
}

.player {
  height: 60rem;
  width: 50rem;
  display: flex;
  flex-direction: column;
  padding: 15rem;
  padding-top: 9rem;
}

.current {
  background: #c7365f;
  color: white;
  font-size: 2rem;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 1.5rem;
  opacity: 0.8;
}

.current-score-0 {
  margin-top: 14rem;
  height: 15rem;
  width: 20rem;
}

.current-score-1 {
  height: 10rem;
  width: 20rem;
  margin-top: 15rem;
}

.current-score {
  font-size: 4rem;
  padding-top: 0.5rem;
}

img {
  position: absolute;
  margin-left: 45rem;
  margin-top: -42rem;
}

.dice {
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
}

.btn {
  border-radius: 30px;
  border: none;
  background: white;
  opacity: 0.7;
  font-size: 1.8rem;
  height: 4.5rem;
  color: #444;
  cursor: pointer;
}

.btn--new {
  position: absolute;
  width: 20rem;
  margin-top: -55rem;
  margin-left: 40rem;
}

.btn--new:hover {
  opacity: 10;
  margin-top: -54.5rem;
}

.btn--roll {
  position: absolute;
  width: 16rem;
  margin-top: -20rem;
  margin-left: 42rem;
}

.btn--roll:hover {
  opacity: 10;
  margin-top: -19.5rem;
}

.btn--hold {
  position: absolute;
  width: 13rem;
  margin-top: -13rem;
  margin-left: 43.5rem;
}

.btn--hold:hover {
  opacity: 10;
  margin-top: -12.5rem;
}
.player--winner {
  background-color: #2f2f2f;
}

.player--winner .name {
  font-weight: 700;
  color: #c7365f;
}

.hidden {
  display: none;
}
